@import url(./markdown.css);

table {
  max-width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
}


th,
td {
  padding: 10px 10px;
  border: 1px solid #ccc;
  /* border-bottom: 1px solid #ccc; */
}

table {
  border: 1px solid #ccc;
}


iframe {
  width: 100%;
  height: 300px;
  border: none;
}

ul li, ul ol {
  line-height: 2;
}