html,
body {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  color: #333;  
  font-size: 16px;
}

img {
  max-width: 100%;
}

/*
 * Font
 */
body {
  background: #fefefe;
  -webkit-hypens: auto;
  -moz-hypens: auto;
  hyphens: auto;
}



@media (max-width: 576px){
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
}
/*
 * Text
 */
p {
  margin: 0.75em 0;
  line-height: 2;
}

/**
 * Layout
 */
body h1 {
  margin: 64px 0 0 0;
}
body h2 {
  margin: 48px 0 0 0;
}
body h3 {
  margin: 36px 0 0 0;
}
body h4 {
  margin: 24px 0 0 0;
}
body h5 {
  margin: 12px 0 0 0;
}
body h6 {
  margin: 12px 0 0 0;
}


/**
 * <a/>
 */
a, a * {
	// color: #2484c1;
	color: royalblue;
	text-decoration: none;
	}
a:hover {
	text-decoration: underline;
  }
  

/**
 * highlight
 */
.hljs-comment {
  font-style: normal!important
}



/**
 * other
 */
img {
	max-width: 100%;
}

table {
	width: 100%;
}

h1 {
	font-weight: normal;
	}
h2 {
	font-weight: normal;
	}
h3 {
	font-weight: normal;
	}
ul {
	list-style: square;
	}


h1 a, h1 a:hover {
	color: #333;
	text-decoration: none;
}
  
hr {
	color : #ddd;
	height : 1px;
	margin: 2em 0;
	border-top : solid 1px #ddd;
	border-bottom : none;
	border-left: 0;
	border-right: 0;
}

a { word-break: break-word; }