
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {  
  // -ms-text-size-adjust: 100%;
  // -webkit-text-size-adjust: 100%;
  // line-height: 1.5;
  // color: #24292e;
  // // color: #0071ea;
  // font-size: 16px;
  // line-height: 1.5;
  // word-wrap: break-word;
}

img {
  max-width: 100%;
}


// pre,pre>code{
//   white-space: normal!important;
// }
